/* Colors*/
$primary-color: #ffffff;
$secondary-color: #ffffff;
$accent-color: #a11742;
$text-color: #4d5168;
$background-color: #ffffff;
$border-color: #f4f4f4;

/* Dark Colors */
$dark-primary-color: #000000;
$dark-secondary-color: #000000;
$dark-accent-color: #a11742;
$dark-text-color: #ffffff;
$dark-background-color: #000000;
$dark-border-color: #414141;

/* Site wide style */
* {
  font-family: "KoHo";
  font-weight: normal;
  letter-spacing: -0.05rem;
  margin: 0;
}

html {
  height: 100%;
  overflow-x: hidden;
  scrollbar-color: $accent-color $background-color;
}

html.dark {
  scrollbar-color: $dark-accent-color $dark-border-color;
}

svg {
  pointer-events: none;
}

/* Desktop Layout + Light Theme */
body {
  /* Scroll Bar */
  &::-webkit-scrollbar {
    height: 1rem;
    width: 1rem;
    background: $border-color;
  }

  &::-webkit-scrollbar-thumb {
    background: $accent-color;
  }

  a {
    color: $text-color;
    text-decoration: none;
  }

  .iconify,
  div {
    color: $text-color;
  }

  /* Toast Styling */
  .league-stats-toast {
    margin-left: 240px;
  }

  /* App container styling */
  body,
  body #league-stats-app {
    height: 100%;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .league-stats-center-text:before {
    content: "";
    display: inline-block;
    height: 105%;
    vertical-align: middle;
  }

  /* Loader Styling */
  .league-stats-loader {
    border: 16px solid $border-color; /* Light grey */
    border-top: 16px solid $accent-color; /* Blue */
    border-radius: 50%;
    margin: auto;
    animation: spin 2s linear infinite;
  }

  .league-stats-background {
    background-color: $border-color;
    height: 100%;
    position: fixed;
    width: 100%;
    z-index: -1;
  }

  /* Navbar Styling */
  .league-stats-navbar-top {
    height: 4rem;
    position: fixed;
    width: 100%;
    z-index: 2;

    nav {
      background-color: $primary-color;
      box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
      display: grid;
      grid-template: 1fr / 240px 1fr;
      height: 100%;
      margin: 0 auto;
      max-width: 85rem;
      width: 100%;

      .league-stats-navbar-top-flexbox {
        align-items: center;
        display: flex;
        grid-column: 2 / 3;
        justify-content: center;
        position: relative;

        .league-stats-navbar-site-name {
          color: $accent-color;
          width: max-content;
        }

        .league-stats-navbar-site-search {
          cursor: pointer;
          height: 2rem;
          position: absolute;
          transition: right 200ms ease;
          width: 2rem;

          svg {
            height: inherit;
            width: inherit;
          }
        }

        .league-stats-search-bar {
          position: absolute;
          right: 1rem;
          transition: all 200ms ease;

          .league-stats-search-input {
            background-color: $border-color;
            border: none;
            border-radius: 4px;
            box-sizing: border-box;
            color: $text-color;
            outline: none;
            padding: 8px 42px 8px 14px;
            position: relative;
            width: 100%;
          }

          .league-stats-search-button {
            border: none;
            border-radius: 0 4px 4px 0;
            background-color: $text-color;
            cursor: pointer;
            height: 100%;
            position: absolute;
            right: 0;
            top: 0;

            svg {
              color: $border-color;
            }
          }
        }
      }

      .league-stats-navbar-site-logo {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.05), 1px 0 rgba(0, 0, 0, 0.05);
        display: flex;
        grid-column: 1 / 2;
      }
    }
  }

  .league-stats-container {
    margin: 0 auto;
    max-width: 85rem;
    width: 100%;

    .league-stats-sidebar {
      background-color: $secondary-color;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.05), 0 0 10px rgba(0, 0, 0, 0.05);
      display: grid;
      grid-template: 1fr 25% 25% / 1fr;
      height: 94vh;
      margin-right: auto;
      position: fixed;
      top: 4rem;
      width: 240px;
      z-index: 1;

      nav,
      .league-stats-sidebar-social {
        border-bottom: solid 1px $border-color;

        .league-stats-sidebar-social-github {
          .iconify {
            color: #24292e;
          }
        }

        .league-stats-sidebar-social-linkedIn {
          .iconify {
            color: #0a66c2;
          }
        }
      }

      .league-stats-sidebar-nav {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 240px;

        .league-stats-light-switch-container {
          align-items: center;
          display: flex;
          justify-content: center;
          margin: auto 0 1rem 0;
          width: 100%;

          svg {
            height: 1.5rem;
            width: 1.5rem;
          }

          .league-stats-light-switch {
            display: inline-block;
            height: 1.5rem;
            margin: 0 1rem;
            position: relative;
            width: 3rem;
          }

          /* Hide default HTML checkbox */
          .league-stats-light-switch input {
            opacity: 0;
            width: 0;
            height: 0;
          }

          /* Slider */
          .league-stats-light-slider {
            border-radius: 25px;
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #ccc;
            -webkit-transition: 0.4s;
            transition: 0.4s;

            &:before {
              background-color: white;
              border-radius: 50%;
              bottom: 0.25rem;
              content: "";
              height: 1rem;
              left: 0.25rem;
              position: absolute;
              transition: 0.4s;
              width: 1rem;
              -webkit-transition: 0.4s;
            }
          }

          input:checked + .league-stats-light-slider {
            background-color: $accent-color;
          }

          input:focus + .league-stats-light-slider {
            box-shadow: 0 0 1px $border-color;
          }

          input:checked + .league-stats-light-slider:before {
            -webkit-transform: translateX(1.5rem);
            -ms-transform: translateX(1.5rem);
            transform: translateX(1.5rem);
          }
        }

        /* Sidebar Links */
        .league-stats-sidebar-item {
          border-right: solid 3px transparent;
          box-sizing: border-box;
          display: block;
          padding: 16px;
          transition: all 200ms ease;

          &:hover {
            background-color: $border-color;
            border-color: $accent-color;
          }
        }
      }

      .league-stats-sidebar-item-active {
        background-color: $border-color;
        border-color: $accent-color !important;
      }

      .league-stats-sidebar-social-container {
        display: flex;
        flex-direction: column;
        a,
        .iconify {
          height: 2rem;
          transition: transform 200ms ease;
          width: 2rem;

          &:hover {
            transform: scale(1.25);
          }
        }

        .league-stats-sidebar-social {
          display: flex;
          flex-direction: row;
          justify-content: space-evenly;
          margin-top: auto;
          padding: 1em 2em;
          position: relative;

          &:before {
            border-top: 1px solid $border-color;
            content: "";
            position: absolute;
            left: 12.5%;
            top: 0;
            height: 1px;
            width: 75%;
          }
        }
      }

      .league-stats-sidebar-footer {
        align-self: center;
        color: $text-color;
        display: flex;
        flex-direction: column;
        font-size: 0.9rem;
        justify-content: flex-start;
        padding: 1em 2em;
      }
    }

    .league-stats-page {
      background-color: $background-color;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
      height: 100%;
      float: right;
      margin-top: 4rem;
      min-height: calc(100vh - 4rem);
      overflow-x: hidden;
      position: relative;
      width: calc(100% - 240px);
      z-index: -1;

      .page-container {
        margin: 0;
        min-height: calc(100vh - 7rem);
        overflow: hidden;
        padding: 1.5rem 3rem;
      }

      /* Home page */
      .league-stats-home {
        display: grid;
        grid-template: 1fr 1fr 1fr / 1fr;
        height: calc(100vh - 7rem);
        margin: 0 3rem;

        .league-stats-home-section {
          border-bottom: solid 1px $border-color;
          box-shadow: 0 15px 4px -15px rgba(0, 0, 0, 0.1);
          display: grid;
          grid-template: 1fr / 60% 5rem 1fr;
          justify-content: space-between;
          padding: 2.5rem 0;

          .league-stats-home-section-text {
            a {
              display: block;
              width: max-content;

              h2 {
                transition: color 250ms ease;

                &:hover {
                  color: $text-color;

                  span {
                    color: $accent-color;
                  }
                }

                span {
                  color: $text-color;
                  transition: color 250ms ease;
                }
              }
            }

            h2 {
              color: $accent-color;
            }

            .league-stats-home-section-description {
              margin-top: 0.4rem;
            }
          }

          .league-stats-home-section-gif-display {
            background-color: $border-color;
            border-radius: 0.5rem;
            grid-column: 3 / 4;

            img {
              border-radius: inherit;
              height: 100%;
              width: 100%;
            }
          }

          .league-stats-home-section-leaderboard-display {
            border: solid 1px $border-color;
            border-radius: 0.5rem;
            box-shadow: 0 0px 4px 0 rgba(0, 0, 0, 0.1);
            display: flex;
            flex-direction: column;
            grid-column: 3 / 4;
            justify-content: space-evenly;
            margin: 0 auto;
            padding: 0;
            width: 100%;

            h2 {
              color: $accent-color;
            }

            .league-stats-home-section-leaderboard-topFive {
              display: flex;
              flex-direction: column;
              height: 9rem;

              div {
                display: inline-block;
                padding: 0.1rem;
              }

              .league-stats-home-section-leaderboard-topFive-player {
                height: 1.5rem;
                margin: 0 auto;
                white-space: nowrap;
                width: 7.5rem;
              }

              a {
                display: inline-block;
                overflow: hidden;
                text-overflow: ellipsis;
                transition: color 250ms ease;
                white-space: nowrap;
                width: 100%;

                &:hover {
                  color: $accent-color;
                }
              }
            }
          }
        }
      }

      /* Champion Rotation Page */
      .league-stats-champion-rotation {
        .league-stats-champion-rotation-box {
          // border: solid 1px $border-color;
          // box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
          display: flex;
          flex-wrap: wrap;
          justify-content: flex-start;

          a {
            align-items: center;
            border: solid 1px $border-color;
            border-radius: 0.5rem;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            display: grid;
            font-size: 1.2rem;
            height: 10rem;
            justify-content: center;
            margin: 1.5rem auto;
            padding: 0.5rem;
            text-align: center;
            transition: all 250ms ease;
            width: 10rem;

            &:hover {
              color: $accent-color;
              transform: scale(1.1);
            }

            img {
              border-radius: 0.5rem;
            }
          }
        }

        .league-stats-champion-rotation-helper {
          // background-color: rgba(0, 0, 0, 0.75);
          border-radius: 0.25rem;
          font-size: 1rem;
          position: absolute;
          text-align: center;
          transition: opacity 250ms ease;
          width: calc(100% - 6rem);

          span {
            color: $accent-color;
          }
        }

        h1 {
          color: $accent-color;
          text-align: center;
          span {
            color: $text-color;
            transition: color 250ms ease;

            &:hover {
              color: $accent-color;
              cursor: pointer;
            }
          }
        }
      }

      /* Leaderboard Page */
      .league-stats-leaderboard {
        display: flex;
        flex-direction: column;
        min-height: calc(100vh - 7rem);

        .league-stats-leaderboard-row {
          align-items: center;
          align-self: center;
          background-color: $border-color;
          display: grid;
          flex-grow: 1;
          grid-template: 100% / 0.5fr 2fr 1fr 1fr;
          padding: 0;
          text-align: center;
          width: 100%;

          a {
            transition: color 250ms ease;
            &:hover {
              color: $accent-color;
            }
          }
        }

        .league-stats-leaderboard-row.odd {
          background-color: $background-color;
        }

        .league-stats-leaderboard-pagination {
          display: flex;
          list-style: none;
          margin: 1rem auto 0 auto;
          outline: none;
          padding: 0.5rem;
          width: 40rem;

          li {
            border: solid 1px $accent-color;
            border-right: solid 0 transparent;
            cursor: pointer;
            flex-grow: 1;
          }

          li.next,
          li.previous {
            text-align: center;
          }

          li.next {
            border-radius: 0 6px 6px 0;
            border-right: solid 1px $accent-color;
          }

          li.previous {
            border-radius: 6px 0 0 6px;
          }

          li.disabled {
            cursor: default;

            a {
              &:hover {
                color: $text-color !important;
              }
            }
          }

          a {
            display: inline-block;
            padding: 1rem;
            text-align: center;
            transition: color 250ms ease;
            width: calc(100% - 2rem);

            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;

            &:hover {
              color: $accent-color;
            }
          }

          .active {
            background-color: $accent-color;
            border-color: $accent-color;

            a {
              color: $background-color !important;
            }
          }
        }
      }

      /* Summoner Page */
      .league-stats-summoner {
        display: grid;
        grid-template: 12.5rem auto / 1fr 3fr;
        justify-content: space-between;
        margin: 0;
        padding: 1.5rem 3rem;

        .league-stats-summoner-info-basic-container,
        .league-stats-summoner-info-rank-container {
          border: solid 1px $border-color;
          border-radius: 6px;
          box-shadow: 1px 1px 6px 0 rgba(0, 0, 0, 0.1);
          margin-bottom: 1.5rem;
          padding: 1rem 1.5rem;
        }

        .league-stats-summoner-info-basic-container {
          align-items: center;
          display: flex;
          grid-column: 1 / 3;
          grid-row: 1 / 2;
          justify-content: space-between;
          margin-bottom: 1.5rem;
          width: calc(100% - 3rem);

          .league-stats-summoner-info-player {
            align-items: center;
            display: flex;
            justify-content: space-around;
            padding-bottom: 0.5rem;
            width: max-content;

            .league-stats-summoner-info-image {
              align-items: center;
              background-color: $text-color;
              border: solid 3px $text-color;
              border-radius: 50%;
              display: flex;
              justify-content: center;
              height: 7.5rem;
              position: relative;
              width: 7.5rem;

              .league-stats-summoner-info-level-container {
                bottom: -0.75rem;
                position: absolute;

                .league-stats-summoner-info-level {
                  background-color: $background-color;
                  border: solid 2px $text-color;
                  height: 1.5rem;
                  margin: 0;
                  text-align: center;
                  width: 100%;

                  &:after,
                  &:before {
                    content: "";
                    position: absolute;
                    height: 0;
                    width: 0;
                    top: 0;
                    /* half height */
                    border-top: calc(0.75rem + 2px) solid transparent;
                    border-bottom: calc(0.75rem + 2px) solid transparent;
                  }

                  &:after {
                    right: calc(-0.375rem - 4px);
                    border-left: 0.375rem solid $text-color;
                  }

                  &:before {
                    left: -0.375rem;
                    border-right: 0.375rem solid $text-color;
                  }
                }

                .league-stats-summoner-info-level-hex {
                  &:after,
                  &:before {
                    content: "";
                    position: absolute;
                    height: 0;
                    width: 0;
                    bottom: 2px;
                    /* half height */
                    border-top: 0.75rem solid transparent;
                    border-bottom: 0.75rem solid transparent;
                  }

                  &:after {
                    right: calc(-0.375rem - 1px);
                    border-left: 0.3725rem solid $background-color;
                  }

                  &:before {
                    left: calc(-0.375rem + 3px);
                    border-right: 0.3725rem solid $background-color;
                  }
                }
              }

              img {
                border-radius: inherit;
                height: inherit;
                width: inherit;
              }
            }

            .league-stats-summoner-info-name {
              margin-left: 1.5rem;
              transition: transform 250ms ease;

              &:hover {
                cursor: pointer;
              }

              &:active {
                transform: scale(0.9);
              }
            }
          }
        }
        .league-stats-summoner-info-rank-container {
          .league-stats-summoner-info-rank {
            text-align: center;
            .league-stats-summoner-info-rank-image {
              height: 7.5rem;
              margin: 0.5rem auto;
              width: 7.5rem;

              img {
                height: inherit;
                width: inherit;
              }
            }
          }
        }
        .league-stats-summoner-matches {
          display: grid;
          grid-template: repeat(10, 1fr) / 1fr;

          .league-stats-summoner-match {
            align-items: center;
            border: solid 1px $border-color;
            border-radius: 6px;
            box-shadow: 1px 1px 6px 0 rgba(0, 0, 0, 0.1);
            display: grid;
            grid-template: 1fr / 1fr 0.5fr 0.75fr 1fr 2fr;
            height: 7.5rem;
            justify-items: center;
            margin: 0 0 1.5rem 1.5rem;
            padding: 1.5rem;

            .league-stats-summoner-match-data {
              justify-self: flex-start;
            }

            .league-stats-summoner-match-summoner {
              div {
                display: flex;
                justify-content: center;
                width: 100%;
              }

              img {
                border-radius: 0.25rem;
                height: inherit;
              }

              .league-stats-summoner-match-champion {
                height: 3rem;

                img {
                  margin: auto;
                }
              }
              .league-stats-summoner-match-spells {
                height: 1.5rem;

                img {
                  margin: 0.1rem;
                }
              }
            }

            .league-stats-summoner-match-stats {
              margin: auto;
            }

            .league-stats-summoner-match-items {
              align-items: center;
              display: grid;
              grid-template: repeat(2, 2rem) / repeat(4, 2rem);
              justify-items: center;
              margin: auto;

              .league-stats-summoner-match-item {
                border-radius: 0.25rem;
                height: 1.75rem;
                width: 1.75rem;

                img {
                  border-radius: inherit;
                  height: inherit;
                  width: inherit;
                }
              }

              .league-stats-summoner-match-no-item {
                background-color: $border-color;
                border-radius: 0.25rem;
                height: 1.75rem;
                width: 1.75rem;
              }
            }

            .league-stats-summoner-match-participants {
              align-items: center;

              display: grid;
              grid-template: repeat(5, 1fr) / repeat(2, 1fr);
              height: 7.5rem;
              justify-items: center;

              .league-stats-summoner-match-participant {
                align-items: center;
                display: flex;
                width: 7.5rem;

                .league-stats-summoner-match-participant-img {
                  border-radius: 0.25rem;
                  box-shadow: 1px 1px 6px 0 rgba(0, 0, 0, 0.1);
                  height: 1rem;
                  margin-right: 0.25rem;
                  width: 1rem;

                  img {
                    border-radius: inherit;
                    height: inherit;
                    width: inherit;
                  }
                }

                .league-stats-summoner-match-participant-name {
                  overflow: hidden;
                  text-overflow: ellipsis;
                  transition: color 250ms ease;
                  white-space: nowrap;
                  width: 100%;

                  &:hover {
                    color: $accent-color;
                  }
                }
              }
            }
          }

          .league-stats-summoner-match.match-win {
            box-shadow: 1px 1px 6px 0 rgba(163, 207, 236, 1);
          }
          .league-stats-summoner-match.match-loss {
            box-shadow: 1px 1px 6px 0 rgba(226, 182, 179, 1);
          }
        }
      }
    }
  }

  .league-stats-test-long-div {
    height: 2600px;
  }
}

/* Dark Theme */
body.dark {
  /* Scroll Bar */
  &::-webkit-scrollbar {
    height: 1rem;
    width: 1rem;
    background: $dark-border-color;
  }

  &::-webkit-scrollbar-thumb {
    background: $dark-accent-color;
  }

  a {
    color: $dark-text-color;
  }

  .iconify,
  div {
    color: $dark-text-color;
  }

  .league-stats-loader {
    border: 16px solid $dark-border-color; /* Light grey */
    border-top: 16px solid $dark-accent-color; /* Blue */
  }

  .league-stats-background {
    background-color: #111111;
  }

  .league-stats-navbar-top {
    nav {
      background-color: $dark-primary-color;
      border-bottom: solid 1px $dark-border-color;
      grid-template-columns: 241px 1fr;

      .league-stats-navbar-site-logo {
        border-left: solid 1px $dark-border-color;
      }

      .league-stats-navbar-top-flexbox {
        border-left: solid 1px $dark-border-color;
        border-right: solid 1px $dark-border-color;
        .league-stats-navbar-site-name {
          color: $dark-accent-color;
        }

        .league-stats-search-bar {
          .league-stats-search-input {
            background-color: $dark-border-color;
            color: $dark-text-color;
          }

          .league-stats-search-button {
            background-color: $dark-text-color;

            svg {
              color: $dark-border-color;
            }
          }
        }
      }
    }
  }

  .league-stats-container {
    width: 100%;
    .league-stats-sidebar {
      background-color: $dark-secondary-color;
      border-left: solid 1px $dark-border-color;

      .league-stats-sidebar-nav,
      .league-stats-sidebar-social-container,
      .league-stats-sidebar-footer {
        border-right: solid 1px $dark-border-color;
      }

      nav,
      .league-stats-sidebar-social {
        border-bottom: solid 1px $dark-border-color;

        .league-stats-sidebar-social-github {
          .iconify {
            color: white;
          }
        }
      }

      nav {
        .league-stats-light-switch-container {
          /* Slider */
          .league-stats-light-slider {
            background-color: $border-color;

            &:before {
              background-color: white;
            }
          }

          input:checked + .league-stats-light-slider {
            background-color: $dark-accent-color;
          }

          input:focus + .league-stats-light-slider {
            box-shadow: 0 0 1px $dark-border-color;
          }
        }

        /* Sidebar Links */
        .league-stats-sidebar-item {
          &:hover {
            background-color: $dark-border-color;
            border-color: $dark-accent-color;
          }
        }

        .league-stats-sidebar-item-active {
          background-color: $dark-border-color;
          border-color: $dark-accent-color !important;
        }
      }

      .league-stats-sidebar-social {
        &:before {
          border-top: 1px solid $dark-border-color;
        }
      }

      .league-stats-sidebar-footer {
        color: rgba(255, 255, 255, 0.3);
      }
    }

    .league-stats-page {
      background-color: $dark-background-color;
      border-right: solid 1px $dark-border-color;

      .league-stats-home {
        .league-stats-home-section {
          border-bottom: solid 1px $dark-border-color;

          .league-stats-home-section-gif-display {
            background-color: $dark-border-color;
          }

          .league-stats-home-section-text {
            a {
              h2 {
                &:hover {
                  color: $dark-text-color;

                  span {
                    color: $dark-accent-color;
                  }
                }

                span {
                  color: $dark-text-color;
                }
              }
            }
          }
        }
      }

      .league-stats-champion-rotation {
        min-height: calc(100vh - 4rem);

        .league-stats-champion-rotation-box {
          a {
            border: solid 1px $dark-border-color;

            &:hover {
              color: $dark-accent-color;
            }
          }
        }

        .league-stats-champion-rotation-helper {
          span {
            color: $dark-accent-color;
          }
        }

        h1 {
          color: $dark-accent-color;

          span {
            color: $dark-text-color;

            &:hover {
              color: $dark-accent-color;
            }
          }
        }
      }

      .league-stats-leaderboard {
        .league-stats-leaderboard-row {
          background-color: $dark-border-color;
          a {
            transition: color 250ms ease;
            &:hover {
              color: $dark-accent-color;
            }
          }
        }

        .league-stats-leaderboard-row.odd {
          background-color: $dark-background-color;
        }

        .league-stats-leaderboard-pagination {
          li {
            border: solid 1px $dark-accent-color;
            border-right: solid 0 transparent;
          }

          li.next {
            border-right: solid 1px $dark-accent-color;
          }

          li.disabled {
            a {
              &:hover {
                color: $dark-text-color !important;
              }
            }
          }

          a {
            &:hover {
              color: $dark-accent-color;
            }
          }

          .active {
            background-color: $dark-accent-color;
            border-color: $dark-accent-color;

            a {
              color: $dark-background-color !important;
            }
          }
        }
      }

      .league-stats-summoner {
        .league-stats-summoner-info-basic-container,
        .league-stats-summoner-info-rank-container {
          border: solid 1px $dark-border-color;
          box-shadow: 1px 1px 6px 0 rgba(0, 0, 0, 0.1);
        }

        .league-stats-summoner-info-basic-container {
          .league-stats-summoner-info-player {
            .league-stats-summoner-info-image {
              background-color: $dark-text-color;
              border: solid 3px $dark-text-color;

              .league-stats-summoner-info-level-container {
                .league-stats-summoner-info-level {
                  background-color: $dark-background-color;
                  border: solid 2px $dark-text-color;

                  &:after {
                    border-left: 0.375rem solid $dark-text-color;
                  }

                  &:before {
                    border-right: 0.375rem solid $dark-text-color;
                  }
                }

                .league-stats-summoner-info-level-hex {
                  &:after {
                    border-left: 0.3725rem solid $dark-background-color;
                  }

                  &:before {
                    border-right: 0.3725rem solid $dark-background-color;
                  }
                }
              }
            }
          }
        }

        .league-stats-summoner-matches {
          .league-stats-summoner-match {
            border: solid 1px $dark-border-color;
            box-shadow: 1px 1px 6px 0 rgba(0, 0, 0, 0.1);

            .league-stats-summoner-match-items {
              .league-stats-summoner-match-no-item {
                background-color: $dark-border-color;
              }
            }

            .league-stats-summoner-match-participants {
              .league-stats-summoner-match-participant {
                .league-stats-summoner-match-participant-img {
                  box-shadow: 1px 1px 6px 0 rgba(0, 0, 0, 0.1);
                }

                .league-stats-summoner-match-participant-name {
                  &:hover {
                    color: $dark-accent-color;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

/* Mobile Layout */
@media (max-width: 480px) {
  body {
    .league-stats-navbar-top {
      nav {
        display: flex;

        .league-stats-navbar-top-flexbox {
          border: none !important;
          width: 100%;
        }
      }
    }

    .league-stats-container {
      .league-stats-sidebar {
        border: none !important;
        transition: all 150ms ease-in;
        width: 100vw;

        .league-stats-sidebar-nav,
        .league-stats-sidebar-social-container,
        .league-stats-sidebar-footer {
          border-right: none !important;
        }

        .league-stats-sidebar-nav {
          width: 100%;
        }
      }

      .league-stats-page {
        border-right: none !important;
        width: 100vw;

        .page-container {
          height: max-content;
          margin: 0;
          padding: 1.5rem;
        }

        .league-stats-home {
          .league-stats-home-section {
            grid-template: 1fr 1rem 1fr / 1fr;

            .league-stats-home-section-gif-display,
            .league-stats-home-section-leaderboard-display {
              grid-column: 1 / 2;
              grid-row: 3 / 4;
              height: 100%;
            }
          }
        }

        .league-stats-champion-rotation {
          padding: 1.5rem;

          .league-stats-champion-rotation-box {
            a {
              height: 5rem;
              margin: 1rem auto;
              width: 5rem;

              img {
                height: 3.5rem;
                margin: auto;
                width: 3.5rem;
              }

              p {
                font-size: 12pt;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
              }
            }
          }
        }

        .league-stats-leaderboard {
          .league-stats-leaderboard-row {
            grid-template: 100% / 0.5fr 1fr 1fr 1fr;

            * {
              font-size: 0.9rem;
            }
          }

          .league-stats-leaderboard-pagination {
            padding: 0;
            width: 100%;

            li.next,
            li.previous {
              text-align: center;
              width: 2rem;
            }
          }
        }

        .league-stats-summoner {
          display: flex;
          flex-direction: column;

          .league-stats-summoner-matches {
            .league-stats-summoner-match {
              grid-template: 1fr 5fr 5fr / 1fr 1fr 2fr;
              height: max-content;
              margin: 0 0 1.5rem 0;
              padding: 1.5rem 0;
              width: 100%;

              .league-stats-summoner-match-data {
                align-items: center;
                display: flex;
                justify-content: space-around;
                grid-row: 1 / 2;
                grid-column: 1 / 5;
                width: 100%;

                .league-stats-summoner-match-data-map {
                  display: none;
                  visibility: hidden;
                }
              }

              .league-stats-summoner-match-summoner {
                margin-left: 0.5rem;
              }

              .league-stats-summoner-match-items {
                margin: 0;
                margin-right: 0.5rem;
              }

              .league-stats-summoner-match-participants {
                grid-column: 1 / 4;
                grid-row: 3 / 4;
              }
            }
          }
        }
      }
    }
  }
}

/* Tablet Layout */
@media (max-width: 768px) {
  body {
  }
}

/* Small Screen Layout */
@media (max-width: 1024px) {
  body {
  }
}
